<%= form_for(@message) do |f| %>
  <!-- TODO: Edit error_messages to differentiate between @user and @message -->
  <%= render 'shared/error_messages', object: f.object %>
  <h4 class="small-margin text-left"> Submit </h4>
  
  <%# f.select(:object_field, ['Item 1', ...], {}, { :class => 'my_style_class' }) %>
  <%# TODO: Don't allow state to be empty -- make test for this %>
  <div class="input-group">
    <%= f.select(:tag_state, options_for_select(state_arr), {:selected => @temp, include_blank: "What State?"}, { class: "form-control"}) %>
    <%= f.text_field :tag_number, class:"form-control input-lg small-margin", placeholder:"Tag Number"  %>
  </div>
  <%= f.text_field :content, class:"form-control input-lg small-margin", placeholder:"Content" %>
  <%= f.hidden_field :user_id %>

  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h3>PLEASE DON'T TEXT AND DRIVE</h3>
  </div>
</div>


Get out of fast lane: <%= image_tag("icon_11073.svg") %> <br />
Use turn signal: <%= image_tag("icon_2858.svg") %> <br />
Endless turn signal / Turn off your signal: <%= image_tag("icon_2235.svg") %><br />
Lots of space / Move up: <%= image_tag("icon_6916.svg") %> <br />
Bad parking: <%= image_tag("icon_13095.svg") %> <br />
Left lights on: <%= image_tag("icon_25610.svg") %> <br />
Caught picking nose: <%= image_tag("icon_19495.svg") %> <br />

<div class="container">
  <div class="landing-middle">
    <section id="sign-up" class="clearfix">
      <form role="form" action="" method="post">
      <%# form_for(@message) do |f| %>
      <h1>PLEASE DON'T TEXT AND DRIVE</h3>
      <div class="row">
        <div class="col-md-2 col-md-offset-4">
          <%= render 'shared/states2' %>
        </div>
        <div class="col-md-2">
          <!-- TODO: Replace with Rails form and figure out Rails/jQuery to combine states and plate number inputs -->
          <!-- http://stackoverflow.com/questions/11144030/using-multiple-input-fields-for-one-attribute -->
          <input type="text" class="form-control" placeholder="Plate Number">
        </div>
      </div>
      <%# f.text_field :tag_number, class:"form-control input-lg small-margin", placeholder:"Tag Number"  %>
        <div class="btn btn-default quick-message">Left Lane: Fast Lane</div>
        <div class="btn btn-default quick-message">No Turn Signal</div>
        <div class="btn btn-default quick-message">Endless Turn Signal</div>
        <div class="btn btn-default quick-message">Lots of Space</div>
        <div class="btn btn-default quick-message">Bad Park Job</div>
        <div class="btn btn-default quick-message">Left Your Lights On</div>
        <div class="btn btn-default quick-message">Caught You Picking Your Nose</div>
      </br>
      <input class="form-control input-lg" type="textarea" name="message" placeholder="Enter your message here">
      <%# f.text_field :content, class:"form-control input-lg small-margin", placeholder:"Content" %>
      <%# f.hidden_field :user_id %>
      <div class="small-margin">
        <button class="btn btn-block btn-lg btn-theme">Submit</button>
        <%# f.submit "Submit", class: "btn btn-large btn-primary" %>
      </div>
    </section>
  </div>
</div>

<br /><br />Submitting from <%= current_user.first_name %> <%= current_user.last_initial %>