<% provide(:title, 'Sign up') %>

<!-- not signed in -->

<div class="landing-top">
  <h1>Tagenger</h1><h3>leave messages for drivers</h3>
</div>

  <div class="landing-middle">
    <section id="sign-up" class="clearfix">

      <div class="col-sm-4">
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages' %>
          <h4 class="small-margin text-left"> Sign Up </h4>
          
          <%= f.text_field :first_name, class:"form-control input-lg small-margin", placeholder:"First Name"  %>
          <%= f.text_field :last_initial, class:"form-control input-lg small-margin", placeholder:"Last Initial" %>
          <%= f.text_field :email, class:"form-control input-lg small-margin", placeholder:"Email" %>
          <%= f.password_field :password, class:"form-control input-lg small-margin", placeholder:"Password"  %>
          <%= f.password_field :password_confirmation, class:"form-control input-lg small-margin", placeholder:"Password Confirmation"  %>

          <%= f.label :tndcheck %>
          <%= f.check_box :tndcheck %>

          <!-- TODO: Add tags field here. May actually be better on a separate page. -->

          <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
        <% end %>
      </div>
       
      <div class="col-sm-6">
        <h4 class="text-left">Already a member? <a href="">Sign In</a></h4>
        <h2 class="text-left">Tagenger allows you to</h2>
        <ul id="landing-bullets" class="text-left">
          <li>Leave messages for other car owners anonymously.</li>
          <li>Receive messages from other drivers.</li>
        </ul>
      </div>
    </section><!--subscribe--> 

</div>
