<% provide(:title, @user.first_name) %>

<div class="well">
	<%= @user.first_name %> <%= @user.last_initial %> <br />
	My Tags: <% @user.tags.each do |tag| %> <%= tag.tag_number %> <% end %>
</div>

<div class="well">
Number of sent messages: <%= @sent_messages.count %> <br />


	<% @sent_messages.each do |message| %>
		Content: <%= message.content %> <br />
		Tag number: <%= message.tag_number %> <br />
		Date: <%= message.created_at %> <br />
	<% end %>
<!-- TODO: Add in delete functionality for sent messages -->
</div>


<div class="well">
Number of received messages: <%= @received_messages.count %><br />

<% @received_messages.each do |message| %>
	Content: <%= message.content %> <br /> 
	Tag Number: <%= message.tag_number %> <br />
	Users name: <%= message.user.first_name %> <%= message.user.last_initial %>. <br />
	<!-- TODO: Create helper to combine first_name and last_initial -->
	Date: <%= message.created_at %>
<% end %>
</div>