<!-- TODO: Add a button that forwards to submit_path -->
<% provide(:title, @user.first_name) %>
<div class="row">
	<aside class="col-md-2 left-pad">
		<h3><%= @user.first_name %> <%= @user.last_initial %></h3>
		<%= link_to "delete profile", '#' %>
		<h3>Stats</h3>
		<p>
			<%= @sent_messages.count %> sent <%= 'message'.pluralize(@sent_messages.count) %>
		</p>
		<p>
			<%= @received_messages.count %> received <%= 'message'.pluralize(@received_messages.count) %>
		</p>
		<p>
			Created <%= time_ago_in_words(@user.created_at) %> ago.
		</p>
		<h3>My Tags: </h3>
		<% @user.tags.each do |tag| %> 
			<p><%= tag.tag_number %>
			<% if current_user?(@user) %>
				<%= link_to "X", remove_user_tag_user_tag_path(@user, tag), method: :delete %>
			<% end %>
			</p>
		<% end %>

		<h5>Add a Tag</h5>
		<%# Add state selector here as well and parse it in tags controller %>
		<%= form_for @tag do |f| %>
			<%= f.select(:tag_state, options_for_select(state_arr), {:selected => @temp, include_blank: "What State?"}, { class: "form-control"}) %>
			<%= f.text_field :tag_number, placeholder: "Tag Number" %>
			
			<%= f.submit "Add", class: "btn btn-large btn-primary" %>
		<% end %>

	</aside>
	<div class="col-md-7 left-pad">
		<h3>Sent Messages</h3>
		<% if @sent_messages.count == 0 %>
			You haven't sent any messages! Go ahead, <%= link_to 'send some out', submit_path %>!
		<% else %>
			<% @sent_messages.each do |message| %>
				<div class="row">
					<div class="col-md-2"><%= message.tag_number %></div>
					<div class="col-md-10"><%= wrap(message.content) %> </div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Sent in by <%= message.user.first_name %> <%= message.user.last_initial %>. <%= time_ago_in_words(message.created_at) %> ago.
						<% if current_user?(message.user) %>
						 | <%= link_to "delete", message, method: :delete, data: { confirm: "You sure?" }, title: message.content %>
						<% end %>
					</div>
				</div>
				<hr>
			<% end %>
		<% end %>
		<h3>Received Messages</h3>
		<% if @received_messages.count == 0 %>
			<% if @user.tags.count == 0 %>
				You have to add your license plates! Look under My Tags on this page.
			<% else %>
				No one has sent you a message -- yet. Check back in a couple days.
			<% end %>
		<% else %>
			<% @received_messages.each do |message| %>
				<div class="row">
					<div class="col-md-2"><%= message.tag_number %></div>
					<div class="col-md-10"><%= wrap(message.content) %> </div>
				</div>
				<div class="row">
					<div class="col-md-12">
						Sent in by <%= message.user.first_name %> <%= message.user.last_initial %>. <%= time_ago_in_words(message.created_at) %> ago.
						<%# Ask Jordan if he thinks we should add the functionality to be able to delete received messages %>
					</div>
				</div>
				<hr>
			<% end %>
		<% end %>
	</div>
</div>